
body {
    background: black;
    margin: 0;
}

#postCard{
    background: #171717;
    width: 827px;
    height: 620px;
    margin-left: 250px;
    padding: 20px;
}

.postCard .postCardLayout {
    margin: auto;
}

#postCardLayout{
    width: 49%;
    background: white;
    font-family: 'Handlee', cursive;
    margin: 159px auto;
}

#postCardHeader div {
    width: 50%;
}

#rigthpostCardHeader {
    padding: 10px 1px;
    text-align: right;
    margin-right: 5px;
}

#postCardBody div {
    width: 50%;
}

.flexboxContainers {
    display: flex;
}

p { margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 11px;
    font-weight: bold;
    Color: #504b4b;
}

p:first-of-type {    
    margin-top: 3px;
    padding: 0;
}


  
h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
    
}

#postCardfooter{
    background-color: white;
}

input{
    margin-left: 15px;
    padding-bottom: 2px;
    width: 175px;
    font-family: 'Handlee', cursive;
    font-stretch: condensed;
    font-size: 15px;
    font-weight: 100;
    Border: none;
    border-bottom: 1px solid #929292;
    margin-bottom: 5px; 
}

input:last-child {
    border-bottom: 2px solid #c5c5c5;
}

#postCardBody div {
    align-content:center;
}


.flexboxContainers button {
    background-color: #BFBDBE ;
    border: none ;
    border-bottom: 2px solid #929292 ;
    padding: 2px 3px 2px 7px;
    font-family: 'Handlee', cursive;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 145px;
}
    
.flexboxContainers button:hover {
    background-color: gray;
    
}  
