input{width: 100%}

#postCard { background: white; 
			width: 500px; 
			height: 300px; 
			margin: 200px auto;  
			padding: 20px;;
}
	
input{width: 100%;
	  margin-bottom: 5px;
}	

p{margin: 0;
  font-size: 21px;
}
  
h1{font-size: 19px;}

.flexboxContainers {display: flex;
	margin-bottom: 15px;}
.flexboxContainers div {width: 50%;}
#rigthpostCardHeader{text-align: right;}
#postCardfooter{text-align: center;}









input{width: 100%;
	  margin-bottom: 5px;
}	

p{margin: 0;
  font-size: 21px;
}
  
h1{font-size: 19px;}

.flexboxContainers {display: flex;
	margin-bottom: 15px;}
.flexboxContainers div {width: 50%;}
#rigthpostCardHeader{text-align: right;}
#postCardfooter{text-align: center;}          
